<h1>
	Hello from Ruby
</h1>
<p>
	<%= @time %>
</p>
<p>
	<%= @day_of_week %>
</p>
<p>
	<%= link_to "Goodbye", say_goodbye_path %>!
</p>

<ul>
	<% for file in @files %>
		<ul>
			files name is: <%= file %>
		</ul>
	<% end %>
</ul>